{% extends "base.html" %}
{% load static %}

{% block content %}

    <main class="container card">
      <section id="game" class="game">
        <div class="card bg-dark text-light">
          <div class="d-flex space-between">
            <div>
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <span id="player-name">{{ user.username }}</span>
            </div>
            <div>
              <span>Top Popped</span>
              <span id="high-pop-count">{{ highscore }}</span>
            </div>
          </div>
        </div>

        <div id="main-controls" class="d-flex space-around mt-2">
          {% comment %} <div>{% for s in scores  %} {{ s.score }} {% endfor %}</div> {% endcomment %}

          <button id="start-button" onclick="startGame()">START GAME</button>
        </div>
        <div id="game-controls" class="hidden">
          <div>
            <span>Balloons Popped:</span>
            <span id="pop-count">0</span>
          </div>
          <div>
            <span>Time Remaining</span>
            <span id="countdown">0</span>
          </div>
          <div class="game-container d-flex">
            <div onclick="inflate()" class="pump">
              <div class="handle"></div>
              <div class="pump-box"><span id="click-count"></span></div>
            </div>
            <div id="balloon" class="balloon"></div>
            <audio id="pop-sound" src="{% static 'audio/burst.mp3' %}"></audio>
          </div>
        </div>
      </section>
    </main>
    <script>
      let saveScoreUrl = "{% url 'savescore'  %}"
    </script>
    <script src="{% static 'js/base.js' %}"></script>

    <!-- <div id="scoreboard" class="container card mt-2">
      <h3 class="text-center">Scoreboard</h3>
      <div id="players"></div>
    </div> -->

{% endblock content %}


