{% extends "base.html" %}


{% block content %}


<main class="container card">
    <section>
        <div>
            {% for item in scores %}
            <div class="d-flex space-between">
                <div>
                    <span>Name: </span>
                    <span>{{ item.user.username }}</span>
                </div>
                <div>
                    <span>Score: </span>
                    <span>{{ item.score }}</span>
                </div>
                <div>
                    <span>Played: </span>
                    <span>{{ item.game_datetime }}</span>
                </div>
            </div>

            {% endfor %}
        </div>

    </section>

</main>


{% endblock content %}
